/* Base css */
body{
    background-color: 
}

@import url('https://fonts.googleapis.com/css?family=Vidaloka');
img{
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6{
margin: 0 0 15px;
font-weight: 700;
}
body{
   font-family: 'Vidaloka', serif;
}
html, body{
    height: 100%;
}
a:hover{text-decoration: none;}

.section-padding{
  padding:88px 0;


}